.feeedback-dialog {
  position: fixed;
  z-index: 11000;
  display: none;
  top: 10vh;
  appearance: none;

  max-width: 300px;
  width: auto;
  text-align: left;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);

  &[open] {
    display: block !important;
  }

  h1 {
    margin-top: 0;
    font-size: 110%;
  }

  form {
    label {
      display: block;
    }

    textarea,
    input,
    select,
    button {
      display: block;
      font: inherit;
      padding: 0.5rem 0.75rem;
      width: 100%;
      border: 1px solid #ddd;
      box-sizing: border-box;
      margin-top: 1rem;
    }

    textarea {
      resize: none;
      height: 7.5rem;
    }

    button {
      background-color: #6c5ce7;
      color: #fff;
      width: auto;
      margin-top: 1rem;
      font-weight: bold;
      border-radius: 2rem;
      padding: 0.5rem 1rem;
    }
  }

  .emojis {
    display: flex;
    justify-content: space-between;
    input[type="radio"] {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;

      + .emoji {
        display: inline-block;
        font-size: 250%;
        transition: 0.2s;
        &:hover {
          transform: scale(1.2);
          opacity: 1;
        }
      }
      &:focus + .emoji {
        transform: scale(1.2) !important;
      }
      &:checked + .emoji {
        transform: scale(1.2);
        opacity: 1;
      }
    }
  }

  .step-2 {
    margin-top: 1rem;
    display: none;
  }

  .success,
  .error,
  .loading {
    display: none;
    text-align: center;
    .large-emoji {
      font-size: 300%;
    }
  }

  .close {
    font: inherit;
    padding: 0.5rem;
    border: 0;
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    width: 2rem;
    height: 2rem;
    font-size: 0.5rem;
    line-height: 0.5rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    &:hover,
    &:focus {
      background-color: #eee;
    }
  }

  label span {
    display: block;
  }

  p {
    margin: 0 0 1rem 0;
  }
}

.feeedback-background {
  background-color: rgba(100, 100, 100, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
}
